/**
 * MultiSelect Checkbox
 * ----------------------------------------------------------------------
 */
.wpforms-multiselect-checkbox-dropdown {
	align-items: center;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 100%;
}

.wpforms-multiselect-checkbox-dropdown.has-tags-top,
.wpforms-multiselect-checkbox-dropdown.has-tags-bottom {
	flex-direction: column;
}

.wpforms-multiselect-checkbox-wrapper {
	position: relative;
	max-width: 100%;
	width: 100%;
}

.wpforms-multiselect-checkbox-form-outline {
	align-items: center;
	background: #fff;
	border: 1px solid #8c8f94;
	border-radius: 3px;
	box-sizing: border-box;
	color: #3c434a;
	display: flex;
	font-size: 14px;
	height: 30px;
	line-height: 17px;
	min-width: 126px;
	padding-block: 0;
	padding-inline: 10px 25px;
}

.wpforms-multiselect-checkbox-form-outline:focus,
.wpforms-multiselect-checkbox-form-outline:focus-within {
	border-color: #2271b1;
	box-shadow: 0 0 0 1px #2271b1;
	color: #0a4b78;
}

.wpforms-multiselect-checkbox-dropdown.has-clear .wpforms-multiselect-checkbox-form-outline {
	padding-inline-end: 38px;
}

.wpforms-multiselect-checkbox-form-outline.disabled {
	background: #f8f8f8;
	border-color: rgba(220, 220, 222, 0.75);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}

.wpforms-multiselect-checkbox-form-outline.disabled,
.wpforms-multiselect-checkbox-form-outline.disabled > span,
.wpforms-multiselect-checkbox-list label.disabled,
.wpforms-multiselect-checkbox-form-outline.disabled [disabled] {
	color: rgba(44, 51, 56, 0.5);
}

.wpforms-multiselect-checkbox-arrow {
	border-color: currentcolor;
	border-style: hidden solid solid hidden;
	border-width: 1.6px;
	box-sizing: border-box;
	color: #50575e;
	height: 8px;
	margin-top: -3px;
	position: absolute;
	inset-inline-end: 10px;
	transform: rotate(45deg);
	width: 8px;
}

.wpforms-multiselect-checkbox-clear {
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	inset-inline-end: 25px;
	z-index: 2;
}

.wpforms-multiselect-checkbox-clear:hover {
	color: #d63638;
}

.wpforms-multiselect-checkbox-wrapper .wpforms-multiselect-checkbox-input {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	height: 100%;
	inset-inline-start: 0;
	margin: 0;
	outline: none;
	padding: inherit;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	z-index: 1;
}

.wpforms-multiselect-checkbox-input[disabled] {
	cursor: not-allowed;
}

.wpforms-multiselect-checkbox-input-mask:not(:empty) + .wpforms-multiselect-checkbox-input:not(:placeholder-shown),
.wpforms-multiselect-checkbox-input::placeholder {
	color: transparent;
}

.wpforms-multiselect-checkbox-input-placeholder {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.wpforms-multiselect-checkbox-input:not(:placeholder-shown) + .wpforms-multiselect-checkbox-input-placeholder {
	display: none;
}

/* Dropdown */
.wpforms-multiselect-checkbox-list {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	display: none;
	inset-inline-start: 0;
	margin-top: 9px;
	max-width: 90vw;
	min-width: 100%;
	padding-block: 9px;
	position: absolute;
	text-align: start;
	top: 100%;
	width: max-content;
	z-index: 30;
}

.wpforms-multiselect-checkbox-list.open {
	display: block;
}

.wpforms-multiselect-checkbox-list.open-up {
	bottom: 100%;
	margin: 0 0 9px;
	top: auto;
}

.wpforms-multiselect-checkbox-search {
	background: #fff;
	border: 1px solid #8c8f94;
	border-radius: 3px;
	color: #3c434a;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin: 0 9px 10px;
	outline-offset: 0;
	padding: 0 10px;
	width: calc(100% - 18px);
}

.wpforms-multiselect-checkbox-items {
	display: flex;
	flex-direction: column;
	gap: 7px;
	max-height: 350px;
	overflow-y: auto;
	padding-inline: 9px;
	font-size: 13px;
	line-height: 16px;
}

.wpforms-multiselect-checkbox-items::-webkit-scrollbar {
	width: 2px;
}

.wpforms-multiselect-checkbox-items::-webkit-scrollbar-thumb {
	background-color: #8c8f94;
}

.wpforms-multiselect-checkbox-items label {
	align-items: flex-start;
	cursor: pointer;
	display: flex;
	gap: 5px;
	padding-block: 3px;
}

.wpforms-multiselect-checkbox-items label.disabled {
	cursor: not-allowed;
}

.wpforms-multiselect-checkbox-items label:not(.disabled):hover {
	color: #1d2327;
}

.wpforms-multiselect-checkbox-items [type="checkbox"] {
	margin: 0;
	padding: 0;
	height: 16px;
	width: 16px;
}

.wpforms-multiselect-checkbox-items [type="checkbox"]:checked::before {
	height: 20px;
	margin-block-start: -2px;
	margin-inline-start: -4px;
	width: 20px;
}

.wpforms-multiselect-checkbox-items [type="checkbox"]:checked + span {
	color: #e27730;
	font-weight: 600;
}

.wpforms-multiselect-checkbox-selected {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
}

.has-tags-top > .wpforms-multiselect-checkbox-selected,
.has-tags-left > .wpforms-multiselect-checkbox-selected {
	order: -1;
}

.wpforms-multiselect-checkbox-selected:empty {
	display: none;
}

.wpforms-multiselect-checkbox-selected-option {
	align-items: center;
	background-color: #036aab;
	border-radius: 2px;
	color: #fff;
	display: flex;
	font-size: 11px;
	gap: 3px;
	padding: 4px 7px;
	word-break: break-word;
}

.wpforms-multiselect-checkbox-remove {
	background: #fff;
	border-radius: 50%;
	color: #036aab;
	cursor: pointer;
	height: 12px;
	line-height: 1;
	min-width: 12px;
	opacity: 0.75;
}

@media (max-width: 782px) {

	.wpforms-multiselect-checkbox-form-outline {
		font-size: 16px;
		padding-inline-start: 8px;
		line-height: 1.625;
		min-height: 40px;
	}
}
